

.input:focus {

}

.input {
    margin-left: 75px;
    margin-bottom: 21px;
    width: 276px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
    border-radius: 5px;
}

.errorInput:focus {
    border: 1px solid #CC1439;
    border-radius: 5px;
}

.error {
    color: red;
}
