

.input:focus {
}

.input {
    margin-left: 50px;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
    border-radius: 5px;
}

.errorInput:focus {
}

.error {
    color: red;
}
