.select {
    margin: 0 10px 0 30px;
    width: 180px;
    height: 30px;
    font-weight: 400;
    color: black;
    font-size: 14px;
    max-width: 100%;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
}

.select:focus {

}

.option:hover {

}
